[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask = "*"
python-dotenv = "*"
flask-login = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-socketio = "*"
redis = "*"

[requires]
python_version = "3.8"
